*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: calibri;
}
input{
    outline: none;
}
a{
    color:#000000de;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.img-btn{
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: flex;
}