/*
*** HEADER
*/
header{
    padding: 15px 25px 130px;
    justify-content: flex-end;
}
header nav{
    width: 200px;
    align-items: center;
    justify-content: space-between;
}
.btn-user{
    border-radius: 100px;
}
header nav > a:hover{
    color: #707070de;
}
/* GOOGLE APPS */
#google-apps{
    width: 325px;
    height: 465px;
    padding: 28px;
    overflow: auto;
    font-size: 14px;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
}
#google-apps a{
    text-align: center;
    margin-top: 60px;
}
.apps-area{
    flex-wrap: wrap;
}
#google-apps figure{
    width: 84px;
    height: 84px;
    padding: 8px 2px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    border: solid 1px #fff;
    justify-content: space-between;
}
#google-apps figure:hover{
    border: solid 1px #c7c7c7;
}
#google-apps hr{
    margin: 25px 0;
    border-color: #fcfcfc63;
}
/* USER */
#user{
    width: 330px;
    flex-direction: column;
    background-color: #fff;
}
#user-area1{
    padding: 20px;
    height: 140px;
}
#img-user{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 100px;
}
#img-user span{
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: center;
    background-color: #0000005d;
}
#info-user{
    margin-left: 15px;
    flex-direction: column;
}
#info-user a:first-of-type{
    margin: 3px 0 8px;
    color: #1c51ff;
}
#info-user a:last-of-type{
    color: #fff;
    font-weight: bold;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: #1c51ffcc;
}
#info-user a:last-of-type:hover{
    background-color: #1c51ff;
}
#info-user p:first-of-type{
    font-weight: bold;
}
#info-user p:last-of-type{
    color: #5F6368;
}
#user-area2{
    padding: 8px 20px;
    background-color: #f8f8f8;
    border-top: solid 1px #c7c7c7;
    justify-content: space-between;
}
#user-area2 a{
    color: #5F6368;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #f8f8f8;
    border: solid 1px #c7c7c7;
}
#user-area2 a:hover{
    background-color: #fafafa;
}
/*
*** CONTENT
*/
#main{
    height: 220px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#search-box{
    width: 500px;
    padding: 12px 25px;
    align-items: center;
    border-radius: 30px;
    border: solid 1px #c7c7c7;
    justify-content: space-between;
}
#search-box:hover{
    border: none;
    box-shadow: 0 0 8px #0000002c;
}
#search{
    width: 350px;
    border: none;
    font-size: 1em;
}
input.btn{
    cursor: pointer;
    font-size: 0.9em;
    color: #5F6368;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2;
}
input.btn:hover{
    color: #252627;
    border: solid 1px #c7c7c7;
}
input.btn:focus{
    border: solid 1px #1c51ff;
}
.btn ~ .btn{
    margin-left: 10px;
}
/*
*** FOOTER
*/
footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #f2f2f2;
}
footer section{
    padding: 12px 25px;
    border-top: solid 1px #dfdfdf;
}
#links-box{
    justify-content: space-between;
}
#links-box nav a ~ a{
    margin-left: 10px;
}
/*
*** SHARED
*/
footer, footer a{
    color: #5F6368;
}
header, header nav, #google-apps figure, #user, #user-area1
#google-apps, section, article, label, #links-box, #info-user{
    display: flex;
}
#conteiner-google-apps, #conteiner-user{
    top: 60px;
    z-index: 1;
    right: 25px;
    position: absolute;
    border: solid 1px #c7c7c7;
    box-shadow: 0 5px 10px #00000027;
}